.introduction {
  @extend .container;
  padding: 60px 0;

  @include tablet {
    padding-bottom: 45px;
  }
  @include desktop {
    padding: 94px 0 0;
  }

  &__list {
    @extend %list;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      display: block;
      margin: 50px 0 0 0;
      padding: 0;
    }
  }
  &__item {
    @extend %list-item;

    max-width: 450px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("primary");
    @include tablet {
      max-width: 354px;
      flex: 50%;
    }
    @include desktop {
      max-width: 270px;
      margin: 0 15px;
    }
  }
  &__headline {
    margin: 0;
  }
  &__text {
    margin: 10px 0 0;
    font-weight: 400;
    line-height: 1.7;
    text-transform: none;
    color: getColor("secondary");
  }
  &__picture {
    background-color: getColor("mainBackground");
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 30px;
  }
  &__icon {
    @extend .icon;
  }
}
