.introduction {
  @extend .container;
  padding-top: 60px;

  @include desktop {
    padding-top: 94px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0;
    margin: 0;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__item {
    list-style: none;
    max-width: 450px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("primary");
    @include desktop {
      @extend %list-item;
      max-width: 270px;
    }
  }
  &__headline {
    margin: 0;
  }
  &__text {
    margin: 10px 0 0;
    font-weight: 400;
    line-height: 1.7;
    text-transform: none;
    color: getColor("secondary");
  }
  &__picture {
    background-color: getColor("mainBackground");
    border-radius: 4px;
    max-width: 450px;
    padding: 25px 0;
    margin-bottom: 30px;
    @include desktop {
      max-width: 270px;
    }
  }
  &__icon {
    @extend .icon;
  }
}
