$boxShadowModal: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$placeHolder: rgba(117, 117, 117, 0.5);

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility, transform;
  @include transition;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: auto;
  background-color: getColor("accent");
  box-shadow: $boxShadowModal;
  border-radius: 4px;
  @include desktop {
    width: 528px;
  }
  &__form {
    padding: 12px 40px 40px;
  }
  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: getColor("accent");
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 30px;
    height: 30px;
    @include full-transition(fill);
    &:hover,
    &:focus {
      @media screen and (width < $desktop) {
        fill: getColor("selection");
      }
    }
  }
}

.form {
  &__header {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 40px;
    margin: 0;
    margin-bottom: 12px;
    @include desktop {
      line-height: 1.15;
    }
  }
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    @include full-transition(color);
    &:hover,
    &:focus {
      @media screen and (width < $tablet) {
        color: getColor("selection");
      }
    }
  }
  &__input {
    border: 0;
    width: 100%;
    outline: none;
  }
  &__input-icon {
    display: flex;
    align-items: center;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 4px;
    width: 100%;
    height: 40px;
    @include full-transition(border-color);
  }

  &__icon {
    margin: 0 13px;
    fill: currentColor;
    @include full-transition(fill);
  }
  &__button {
    display: block;
    background: getColor("selection");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: getColor("accent");
    padding: 10px 76px;
    margin: auto;
    margin-top: 30px;
  }
}

.form__wrapper {
  @media screen and (width < $tablet) {
    &:focus,
    &:hover,
    &:focus-within {
      & .form__label {
        color: getColor("selection");
      }
    }
  }
}

.form__input-icon {
  &:focus,
  &:hover,
  &:focus-within {
    border-color: getColor("selection");
    & .form__icon {
      fill: getColor("selection");
    }
  }
}

.form__input--comment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @include full-transition(border-color);
  &:hover,
  &:focus,
  &:focus-within {
    border-color: getColor("selection");
  }
  &:placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $placeHolder;
  }
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  &__label {
    font-size: 12px;
    letter-spacing: 0.36px;
    margin-left: 8px;
    @include desktop {
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.42px;
    }
  }
  &__checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 15px;
    width: 16px;
    border: 2px solid getColor("primary");
    border-radius: 2px;
    transition-property: background-color, border-color;
    @include transition;
    &:checked {
      background-color: getColor("selection");
      border-color: getColor("selection");
    }
  }
  &__icon {
    position: absolute;
    top: 4px;
    left: 3px;
    fill: getColor("accent");
    @include desktop {
      top: 7px;
    }
  }
}
